# -*- coding: utf-8 -*-
# vim: ft=yaml
nut:
  # These default values configures both the nut client and server on the same
  # host
  mode: standalone
  config_dir: /etc/nut
  config: nut.conf

  server:
    pkg: nut-server
    # The nut-server package includes various parts, so each config file has a
    # section here
    ups:
      service: nut-driver
      enabled: true
      config: ups.conf
      maxretry: 3
      retrydelay: 1
      units:
        # Each UPS can have a different configuration
        ups1:
          driver: dummy-ups
          port: /dev/null
          desc: Dummy server
        apc:
          driver: apcsmart
          port: /dev/usb0
          desc: An APC APC
        powerware:
          driver: bcmxcp_usb
          port: auto
          desc: A PowerWare UPS
    upsd:
      service: nut-server
      enabled: true
      config: upsd.conf
    users:
      config: upsd.users
      users:
        ups:
          password: ups
          actions: SET FSD
          instcmds: ALL
          upsmon: master

  client:
    pkg: nut-client
    extra_pkgs: []
    service: nut-monitor
    enabled: true
    config: upsmon.conf
    monitor:
      monitor:
        # Each UPS that is monitored by this host should have an entry
        # following the format
        # MONITOR <system> <powervalue> <username> <password> ("master"|"slave")
        # A list with entries (one UPS per line) or a dict are supported
        # - powerware@some.host 1 john jpass master
        # - some@other.ups 1 user pass slave
        ups:
          system: ups@localhost
          username: upsmon
          password: ups

